* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.principal img {
    width: 50%;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.data-validade label.data{
    text-align: center;
}






button {

}